<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Details</title>
  </head>
  <body>
    <div style="background-color: antiquewhite">
      <h2>File: <%= upload.name %> </h2>
    </div>
  </body>
</html>