<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sucesso</title>
  </head>
  <body>
    <div>
      <h1>File upload successfuly!</h1>
      <a href="/upload">< Back</a>
    </div>
  </body>
</html>